.home {
    overflow-x: hidden;
    
}

.home .content .col-md-3 {
    border: 2px solid #F2F2F2;
}


.view1{
    background-color: #339399;
    position: absolute; 
    min-height: 24px;
    min-width: 245px;        /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 85vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    margin-top: 85px;
}
.view2{
    background-color: #C7CF6F;
    position: absolute; 
    min-height: 24px;
    min-width: 245px;
    height: auto;         /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 85vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    margin-top: 85px;
}
.view3{
    background-color: #777CFF;
    position: absolute; 
    min-height: 24px;
    min-width: 245px;
    height: auto;         /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 85vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    margin-top: 85px;
}
.view4{
    background-color: #EC8187;
    position: absolute; 
    min-height: 24px;
    min-width: 245px;
    height: auto;         /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 85vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    margin-top: 85px;
}
.view5{
    background-color: #FCA625;
    position: absolute; 
    min-height: 24px;
    min-width: 245px;
    height: auto;         /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 85vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    margin-top: 85px;
}

.parent-cont{
    position: relative; 
    min-height: 108px;
    min-width: 247px;
    height: auto;         /* Auto height to let it adjust */
    width: 100%;          /* Width based on screen size */
    max-width: 90vw;      /* Max width is 90% of the viewport width */
    max-height: 50vh; 
    
}

.notif{
    background-color: #00F0FF;
}

.notifcont{
    margin-top: 100px;
}

