.side2 {
    margin-top: 55px;
    background-color: #336699;
}

.sidebar {
    width: 225px;
    height: 100vh;
    z-index: 1000;
    overflow: auto;
}

.content {
    overflow-x: hidden;
    margin-left: 230px;
}

.side2 .content .col-md-3 {
    border: 2px solid white;
}

.side2 .components a {
    padding-left: 20px;
    display: block;
    transition: all 0.3s;
    text-decoration: none;
}

.sidebar .components a:hover {
    background-color: rgba(76, 76, 255, 0.308);
    text-decoration: none;
    border-radius: 5px;
}

.image-style{
    height: 42px;
    width: 42px;
    margin-left: 5px;
}

.image2-style{
    height: 60px;
    width: 60px;
    margin-left: 13px;
}
.corn-style{
    height: 50px;
    width: 50px;
    margin-left: 13px;
    margin-top: 10px;
}

.sidebar-link {
                    transition: background-color 0.3s ease;
                }
                .sidebar-link:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                }
                .dropdown-toggle {
                    transition: background-color 0.3s ease;
                }
                .dropdown-toggle:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
.sidebar-scroll::-webkit-scrollbar {
    display: none;
}